
div {
   display:flex;
   padding-top: 40px;
}

.P2 {
   flex: 50%;
   margin-right: 15%;
   font-size: 32px;
   line-height: 35px;
   margin-top: 20px;
}

.P1 {
   margin-left: 15%;
   flex: 50%;
   font-size: 70px;
}

a {
   color: #EDA109;
}
header {
   font-size: 70px;
}

h2 {
   margin-left: 250px;
   font-size: 64px;
   padding-top: 80px;
}

body{
   font-family: 'Titillium Web', sans-serif;
   padding-top: 150px;
   padding-bottom: 40px;
   background-color: #fff;
   color: #EDA109;
}

.fixed-header {
   width: 100%;
   position: fixed;
   background: #697268;
   padding: 50px 0;
   color: #fff;
}

.fixed-header{
   top: 0px;
}

.container{
   margin-left: 250px;
   font-size: 60px
}

footer {
   padding-top: 80px;
   text-align: center;
   margin-bottom: 40px;
}

nav {
  background-color: #384150;
  padding-bottom: 0px;
  padding-top: 40px;
  text-align: center;
}

nav ul {
  padding: 30px;
}

nav li {
  display: inline-block;
  font-size: 1.5em;
  padding-top: 0px;
}

nav li:not(:last-child) {
  border-right: 1px solid #666;
}

nav a {
  border-bottom: 3px solid #666;
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 3px solid #8bc34a;
}


#return-to-top i {
    color: white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #EDA109;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #697268;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
