
div {
   display:flex;
   padding-top: 40px;
}

.P2 {
   flex: 50%;
   margin-right: 15%;
   font-size: 32px;
   line-height: 35px;
   margin-top: 20px;
}

.P1 {
   margin-left: 15%;
   flex: 50%;
   font-size: 70px;
}

a {
   color: #EDA109;
}
header {
   font-size: 70px;
}

h2 {
   margin-left: 250px;
   font-size: 64px;
   padding-top: 100px;
}

body{
   font-family: 'Titillium Web', sans-serif;
   padding-top: 150px;
   padding-bottom: 40px;
   background-color: #fff;
   color: #EDA109;
}

.fixed-header {
   width: 100%;
   position: fixed;
   background: #697268;
   padding: 50px 0;
   color: #fff;
}

.fixed-header{
   top: 0px;
}

.container{
   margin-left: 250px;
   font-size: 60px
}

footer {
   padding-top: 80px;
   text-align: center;
   margin-bottom: 40px;
}
